<div class="col-sm-3 card-style <%="col-sm-offset-1" if binding.local_variable_get("#{@activity_type}_index_by_date_col_counter") > 0 %>">
  <%= tag.h3 print_date_index_style(binding.local_variable_get("#{@activity_type}_index_by_date_col").first.completed_on), class: "text-center" %>
  <%= yield %>
</div>