<div class="jumbotron">
	<h1>Welcome to Fitness Tracker!</h1>
	<div class="row">
		<p>New to the site?</p>
		<a class= "btn btn-large btn-primary" role="button" href="<%=new_user_registration_path%>">Register</a>
	</div>
	<div class="row">
		<p>Already have an account?</p>
		<a class= "btn btn-large btn-primary" role="button" href="<%=new_user_session_path%>%">Log In</a>
	</div>
	
</div>