<div class="col-sm-3 card-style <%="col-sm-offset-1" if index_by_date_col_counter > 0 %>">
  <%= tag.h3 print_date_index_style(index_by_date_col.first.achievement.completed_on), class: "text-center" %>
  <%= render collection: index_by_date_col, partial: 'exercise' %>
  <%= tag.p "<strong>Total Calories Out</strong>: <em>#{index_by_date_col.first.achievement.daily_total.total_calories_out}</em>".html_safe, class: %w[text-center index-style], style: "padding-top:10px;" %>
</div>