<div class="row clearfix">
        <div class="col-sm-3 card-style" style="padding-bottom:5px;">
        <h3 class="text-center">#{current_date}</h3>
        <a class="center-block text-center index-style" href="/#{obj_association}/#{first_two[0].id}">#{attr_display_str(first_two[0],attrs_to_display)}</a>